body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(187 177 177);
}

.container {
  box-sizing: border-box;
  border: 10px solid rgb(110 110 110);
  border-radius: 20px;
  height: 100vh;
  width: 300px;
  padding: 3% 4%;
  background-color: rgb(17, 17, 17);
  color: white;
}

.profile-img{
  height: 32%;
  width: 78%;
  /* border: 2px solid red;    */
  margin:auto;
  margin-bottom: 1%;
}

.img {
  width: 100%;
  border-radius: 50%;
}

h2,
h5,
p {
  margin: 0;
  padding: 0;
}
.info-section > h6 {
  margin: 1% 0 0 0;
}

.info-section {
  height: 16%;
  width: 100%;
  /* border: 2px solid red; */
  text-align: center;
}

.info-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.btn {
  height: 25px;
  width: 45%;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  /* padding: 0 3px 3px 0; */
}
.linkedin-btn {
  background-color: #408edd;
  color: white;
}
.email-logo {
  margin: 4px 3px 0 0;
  width: 13px;
}
.linkedin-logo {
  margin: 3px 3px 0 0;
  width: 13px;
}

/*about--section*/
.about-section {
  /* border: 2px solid yellow; */
  height: 21%;
  margin-top:4%;
}

/*skill--section*/
.skill-section {
  /* border: 2px solid red; */
  height: 15%;
  margin-top: 3%;
}
.skill-details {
  margin: 0;
}

.about-heading,
.skill-heading{
  font-size: large;
  color: rgb(168, 164, 164);
}

.about-section > p,
.skill-section > ul {
  line-height: 18px;
  font-size: small;
}


/*footer-section*/
.footer-section {
  margin: 7% 0 0 0;
  /* border: 2px solid red; */
  height: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  
}

.footer-heading{
  margin: 1%;
  font-weight:lighter;
  font-size: larger;
  color: rgb(167, 167, 167);
  /* border: 1px solid green; */
}

.footer-img-container{
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  
}
.footer-img-container > a>img {
  /* margin: auto; */
  margin-top: 5px;
  margin-bottom: 1px;
  height: 25px;
  width: 25px;
}

.twitter-logo,
.insta-logo,
.github-logo {
  border-radius: 3px;
}

@media screen and (max-width: 400px) {
  .container {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    padding: 3% 5%;
    border: none;
    border-radius: 0px;
   
  }

  .profile-img{
    height: 34%;
    width: 72%;
    margin-bottom: 2%;
    
  }

  .img {
    height:100%;
    width: 100%;
    border-radius: 100%;
  }

  .btn {
    height: 29px;
    width: 45%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }

  .info-section {
    height: 16%;
  }

  /*about--section*/
.about-section {
  height: 17%;
  margin-top:4%;
}

/*skill--section*/
.skill-section {
  height: 14%;
  margin-top: 3%;
}

.about-heading,
.skill-heading{
  font-size: larger;
}

  .about-section > p,
  .skill-section > ul {
    font-size: 0.95em;
  }

  .footer-section{
    /* margin-top:7%; */
    height: 12%
  }
} ;


